/* 
 *   Lapis CV  /  Author - GoForceX, YiNN
 *   https://github.com/BingyanStudio/LapisCV
 */

 body {

    /* Custom Configs */

    --text-size: 10pt;
    --line-height: 1.8;
    --avatar-width: 28mm;

    --h1-size: 16pt;
    --h2-size: 12pt;
    --h3-size: 10.5pt;
    --blockquote-size: 9.5pt;

    --text-font: 'SourceHanSansCN';
    --title-font: 'SourceHanSansCN';
    --link-font: 'JetBrainsMono';
    --code-font: 'JetBrainsMono';

    --color-accent: #00327dac;
    --text-normal: #353a42;
    --link-color: var(--color-accent);
    --text-strong: #353a42;
    --h1-color: var(--text-normal);
    --h2-color: var(--color-accent);
    --h3-color: var(--text-normal);
    --h4-color: var(--text-normal);
    --border-color: #dae3ea;
    --background-primary: #fff;
}

@font-face {
    font-family: "SourceHanSansCN";
    src: url('../fonts/SourceHanSansCN-Regular.ttf');
}

@font-face {
    font-family: "SourceHanSansCN";
    src: url('../fonts/SourceHanSansCN-Bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: "JetBrainsMono";
    src: url('../fonts/JetBrainsMono-Regular.ttf');
}

@font-face {
    font-family: "LapisCV Icon";
    font-weight: normal;
    src: url('../fonts/iconfont.ttf?t=1727014108932') format('truetype');
}

@font-face {
    font-family: "LapisCV Icon";
    font-weight: bold;
    src: url('../fonts/iconfont.ttf?t=1727014108932') format('truetype');
}

@media screen {
    body {
        box-shadow: 0 0 4mm 0 #a7bbc969;
        padding-left: 20mm;
        padding-right: 20mm;
        padding-top: 13mm;
        padding-bottom: 22mm;
        margin: 8mm auto;

        --background-primary: var(--vscode-editor-background);
        --text-normal: unset !important;
        --text-strong: unset !important;
    }
}

.avatar,
img[alt="avatar"] {
    top: -1mm;
    right: -2mm;
}

blockquote {
    background: unset !important;
    border-left-width: unset;
    border-left-style: unset;
}

h2 {
    border-bottom: 1px solid #a2b6d4;
}