/* 
 *   Lapis CV  /  Author - YiNN (BingyanStudio)
 *   https://github.com/BingyanStudio/LapisCV
 */

/* Custom Config */

body {
  --default-font: "Source Han Sans CN", "Inter", sans-serif;
  --font-monospace: "JetBrains Mono", "Source Code Pro", monospace;
  --link-font: var(--font-monospace);

  --text-normal: #353a42;
  --background-primary: white;
  --code-background: var(--background-primary);
  --shadow-color: #dae3eac9;
  --border-color: #dae3ea;
  --h2-color: var(--color-accent);
  --link-external-color: var(--text-accent-hover);
  --link-external-decoration: var(--background-primary);
  --link-color: hsl(calc(var(--accent-h) - 5), calc(var(--accent-s) * 1.6), calc(var(--accent-l) * 1.2));
  --text-accent: var(--link-color);
  --text-accent-hover: var(--link-color);

  --font-text-size: 10pt;
  --h1-size: 15pt;
  --h2-size: 12pt;
  --h3-size: 10.5pt;

  --h1-weight: bold;
  --h2-weight: bold;
  --h3-weight: bold;
  --bold-weight: bold;

  --line-height: 1.8;
  --h1-line-height: 1;

  --avatar-width: 29mm;

  --p-spacing: 0;
  --heading-spacing: 0;
  --list-spacing: 0;
  --list-indent-editing: 0;
  --list-indent: 2.5mm;
  --file-line-width: 224mm;
}

@media print {
  body {
    --file-margins: 0mm 15mm 0 15mm;
  }

  @page {
    margin: 13mm 0 12mm 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    page-break-after: avoid;
  }

  .print .markdown-preview-view {
    color: var(--text-normal);
  }
}

/* Global */

:root {
  text-align: justify;
  font-family: var(--default-font);
}

p,
li,
.cm-line {
  font-size: 10pt;
  text-align: justify;
  line-height: var(--line-height);
  font-family: var(--default-font);
}

.cm-line {
  line-height: 1.8;
}

.cm-sizer,
.markdown-preview-sizer {
  margin: auto;
  max-width: 224mm;
  /* max-height: 311mm; */
  box-shadow: 0 0 4mm 0 var(--shadow-color);
  padding-left: 20mm;
  padding-right: 20mm;
  padding-top: 14mm;
}

.cm-line:has(br) {
  height: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
blockquote,
.cm-line {
  margin-top: 0;
  margin-bottom: 0;
}

/* Title */

.inline-title {
  visibility: hidden;
}

h1,
.HyperMD-header.HyperMD-header-1.cm-line {
  font-size: var(--h1-size);
  line-height: var(--h1-line-height);
  text-align: center;
  margin-block-start: 0 !important;
  margin-block-end: 1.4mm !important;
}

.HyperMD-header.HyperMD-header-1.cm-line {
  padding-bottom: 1mm;
}

h2,
.HyperMD-header.HyperMD-header-2.cm-line {
  color: var(--color-accent);
  font-size: 12.5pt;
  border-bottom: 1px solid var(--color-accent);
  line-height: 1;
  padding: 1mm 0;
  margin-block-start: 2mm !important;
  margin-block-end: 2.3mm !important;
}

h3,
h4,
h5,
h6,
.HyperMD-header.HyperMD-header-6.cm-line,
.HyperMD-header.HyperMD-header-5.cm-line,
.HyperMD-header.HyperMD-header-4.cm-line,
.HyperMD-header.HyperMD-header-3.cm-line {
  font-size: 10.5pt;
  padding-top: 0;
  margin-block-start: 0 !important;
  margin-block-end: 0 !important;
}

h3 a,
h4 a,
h5 a,
h6 a,
.HyperMD-header span.cm-link {
  font-size: 10pt;
}

/* List */

ul {
  list-style-type: '\2022';
  padding-inline-start: 3mm;
  padding-inline-end: 1mm;
  margin: 0;
}

ol {
  padding-inline-start: 5mm;
  padding-inline-end: 1mm;
}

ol li {
  padding-left: 0;
}

ol,
ul {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

li {
  padding-left: 1.5mm;
}

ul ::marker {
  font-weight: bolder;
}

ol ::marker {
  font-weight: normal;
}

.cm-formatting-list {
  padding-right: 2.2mm;
}

/* Avatar */

img[alt="avatar"] {
  display: block;
  position: absolute;
  z-index: 9999;
  float: right;
  object-fit: cover;
  overflow: hidden;

  width: var(--avatar-width);
  height: var(--avatar-width);
  border-radius: 50%;
  border: 2px solid var(--border-color);
  box-shadow: 0 0 0 3mm var(--background-primary);
}

p:has(img[alt="avatar"]),
.cm-line:has(img[alt="avatar"]) {
  height: 0;
  text-align: center;
}

@media screen {
  img[alt="avatar"] {
    top: 4mm;
    right: 0;
  }
}

@media print {
  img[alt="avatar"] {
    top: 17mm;
    right: 8mm;
  }
}

/* Link */

a,
span.cm-link,
.external-link {
  font-family: var(--link-font);
  font-weight: normal !important;
}

/* Block Quote */

blockquote p,
.markdown-rendered blockquote,
.HyperMD-quote.cm-line {
  line-height: 1.6;
  border-left: none;
  text-align: center;
}

:before {
  visibility: hidden;
}

/* Horizontal Line */

.hr,
hr {
  padding: 10mm 0 0mm 0 !important;
}

@media print {
  hr {
    page-break-after: always;
    padding: 0;
    visibility: hidden;
  }
}