/* 
 *   Lapis CV  /  Author - YiNN (BingyanStudio)
 *   https://github.com/BingyanStudio/LapisCV
 */

/* Custom Config */

:root,
body {
    --text-size: 10pt;
    --line-height: 1.8;
    --avatar-width: 29mm;

    --color-accent: rgb(72, 112, 173);
    --text-normal: #353a42;
    --border-color: #dae3ea;
    --h2-color: var(--color-accent);
    --link-color: var(--color-accent);
    --background-primary: #fff;
    --code-background: var(--background-primary);

    --h1-size: 16pt;
    --h2-size: 12pt;
    --h3-size: 10.5pt;
    --code-size: 10pt;

    --h1-line-height: 1.5;
    --h2-line-height: 1;
    --h3-line-height: 1.8;
}

/* Text */

p,
li {
    text-align: justify;
    font-size: var(--text-size);
    line-height: var(--line-height);
    color: var(--text-normal);
}

/* Title */

h1,
h2,
h3 {
    font-weight: bold;
}

h1 {
    font-size: var(--h1-size);
    line-height: var(--h1-line-height);
    border-bottom: 0;
}

h1,
blockquote p {
    text-align: center;
}

h2 {
    color: var(--h2-color);
    font-size: var(--h2-size);
    border-bottom: 1px solid color-mix(in srgb, var(--color-accent), rgb(0 0 0 / 0) 60%);
    margin-top: 2.4mm !important;
    margin-bottom: 1.9mm !important;
    line-height: var(--h2-line-height);
    padding: 1mm 0;
}

h3,
h4,
h5,
h6 {
    line-height: var(--h3-line-height);
    font-size: var(--h3-size);
}

h3 a,
h4 a,
h5 a,
h6 a {
    font-weight: normal;
    font-size: var(--h3-size) - 0.5pt;
}

.md-math-block,
.md-rawblock,
h1,
h3,
h4,
h5,
h6,
blockquote,
p,
li p {
    margin-top: 0;
    margin-bottom: 0;
}

@media print {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        page-break-after: avoid;
    }
}

/* List */

ul {
    list-style-type: '\2022';
    padding-inline-start: 3mm;
    padding-inline-end: 1mm;
}

ol {
    padding-inline-start: 5mm;
    padding-inline-end: 1mm;
}

ol li {
    padding-left: 0;
}

ol,
ul {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

li {
    padding-left: 1.5mm;
}

ul ::marker {
    font-weight: bolder;
}

ol ::marker {
    font-weight: normal;
}

/* Avatar */

.avatar,
img[alt="avatar"] {
    display: block;
    position: relative;
    top: 3mm;
    right: 0;
    z-index: 9999;
    float: right;
    object-fit: cover;
    overflow: hidden;

    width: var(--avatar-width);
    height: var(--avatar-width);
    border-radius: 50%;
    border: 2px solid var(--border-color);
    box-shadow: 0 0 0 3mm var(--background-primary);
    margin: 3mm;
}

p:has(.avatar, img[alt="avatar"]) {
    height: 0;
    text-align: center;
    padding: 0;
    margin: 0;
}

/* Link */

a {
    color: var(--link-color);
    filter: brightness(1.3) hue-rotate(-10deg);
    text-decoration: none;
    font-weight: normal;
}

/* Code */

code {
    background-color: var(--background-primary);
    color: var(--text-normal) !important;
    font-size: var(--code-size);
}

/* Block Quote */

blockquote,
blockquote * {
    line-height: 1.6;
    padding: 0;
}

blockquote a {
    color: var(--text-normal);
}

/* Custom Class */

.entry-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon, span[alt="icon"]  {
    color: var(--color-accent);
}

/* Horizontal Line */

hr {
    border-top: 2px solid #dae3eac9;
    margin: 15mm 0 12mm 0;
}

@media print {
    hr {
        page-break-after: always;
        margin: 0;
        visibility: hidden;
    }
}