/* 
 *   Lapis CV  /  Author - GoForceX, YiNN
 *   https://github.com/BingyanStudio/LapisCV
 */

/* Global */

@media screen {
  body {
    padding-left: 20mm;
    padding-right: 20mm;
    padding-top: 13mm;
    padding-bottom: 22mm;
    margin: 8mm auto;
  }
}

/* Avatar */

@media screen {
  body img[alt="avatar"] {
    box-shadow: 0 0 0 3mm var(--vscode-editor-background, #fff);
  }
}

/* Color Override */

@media screen {
  body code {
    background-color: unset;
    color: var(--vscode-editor-foreground, --text-normal) !important;
  }

  body p, body li {
    color: var(--vscode-editor-foreground, --text-normal);
  }
}

/* Block Quote */

body blockquote {
  background: unset;
  border-left-width: unset;
  border-left-style: unset;
}