/* 
 *   VSCode Theme - Lapis CV  /  Modified by GoForceX
 *   Modified from Typora Theme / Original Author - YiNN (BingyanStudio)
 *   https://github.com/BingyanStudio/LapisCV
 */

@import "lapis-cv/styles/main.css";
@import "lapis-cv/styles/font.css";

/* Global */

@media screen {
  body {
    color: unset !important;
    box-shadow: 0 0 4mm 0 #dae3eac9;
    padding-left: 20mm;
    padding-right: 20mm;
    padding-top: 15mm;
    padding-bottom: 25mm;
    margin: 0 auto;
  }
}

/* Avatar */

@media screen {
  img[alt="avatar"] {
    position: relative;
    top: 0;
    right: 0;
    box-shadow: 0 0 0 3mm var(--vscode-editor-background);
  }
}

@media print {
  img[alt="avatar"] {
    top: 18mm;
    right: 6mm;
  }
}

@media screen {
  code {
    background-color: unset !important;
    color: unset !important;
  }
}

/* Block Quote */

blockquote {
  background: unset !important;
  border-left-width: unset;
  border-left-style: unset;
}